<div class="container watchpage">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-9 video-container">
            <div class="watch-video" watch-video>
                <video ng-src="{{videoFile.url}}" class="video-js vjs-default-skin ng-isolate-scope" width="100%"
                       height="100%" controls/>
            </div>
            <div class=" container author-info">
                <div class="row">

                    <div class="container col-xs-6 col-sm-4 col-md-4 col-lg-3 pull-right btn-section">
                        <div class="view-cont">
                            <p>{{video.views}} Views</p>
                        </div>
                        <div class="row no-margin">
                            <div class="col-xs-6 col-sm-6 col-md-6 feature-btn">
                                <button type="button" class="btn btn-primary btn-block" ng-click="ShareVid()"><i class="fa fa-share-alt"></i> Share</button>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 feature-btn">
                                <a type="button" class="btn btn-default btn-block" href="http://tiltvideo.com/{{videoFile.url}}" download="{{vid.title}}"><i class="fa fa-download"></i> Download</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-6 col-sm-8 col-md-8 col-lg-9 author-breakdown">
                        <h3>{{video.authorPerson.fullName}}'s {{video.title}}</h3>
                        <img class="author-profile-pic" src="{{video.authorPerson.profileImageUrl}}">

                        <ul class="author-name">
                            <li>{{video.authorPerson.fullName}}</li>
                            <li><i>{{video.authorPerson.taglineTitle}}</i></li>
                            <li><i>{{video.authorPerson.industry}}</i></li>
                        </ul>
                    </div>
                    <!-- <p class="desc">{{video.description}}</p> -->
                    <!-- <button class="bttn" ng-click="nextStep()">Next Step</button> -->
                </div>
               
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 recommended-video-pane">
            <ul class="recomended-videos">
                <li ng-repeat="vid in video.relatedVideos">
                    <a href="/Watch/#/{{vid.mediaGUID}}">
                        <img class="video-thumbnail" ng-src="{{vid.thumbnail}}"/>
                    </a>

                    <div class="video-info-blob">
                        <div>{{vid.title}}</div>
                        <div>by {{vid.userName}}</div>
                        <div>{{vid.viewCount}} views</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
